
.login-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
  }
  
  .btn-loader {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db; 
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 0.5s linear infinite, fadeInOut 0.7s infinite;
    opacity: 0.4;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Fade in and fade out effect */
  @keyframes fadeInOut {
    0% {
      opacity: 0.4;
    }
    25% {
      opacity: 0.6;
    }
    50% {
      opacity: 0.8;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0.4;
    }
  }
  