.msg-user-container{
    margin: 0 auto;
    width: 83%;
    /* width: calc(100% - 215px); */
    /* max-width: 1200px; */
    /* position: relative; */
    /* left: 80px; */
    display: flex;
    height: 100vh;
    /* z-index: 1001; */
}
.msg-main{
    display: flex;
}
.msg-left-container{
 padding: 14px 0px;
 width: 400px;
 max-width:360px;
 margin-top: 18px;
 height: 100%;
 border: 2px solid #eeeded;;
 border-top : none;
 border-bottom: none;
 border-left: none;
 position: sticky;
 top: 0;
 /* z-index: 1001; */
 /* position: fixed; */

}
/* .fixed-user-name{
    position: relative;
    top: 0;
    background-color: #af0000;
    width: 350px;
} */
 .msg-user-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
.msg-username-box{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    background-color: #fff;
    width: 330px;
    max-width: 100%;
    padding: 15px 0px;
    gap: 16px;
}
.arr-down{
    font-weight: 500;
}
/* .msg-username-box span{
    margin-top: 12px;
} */
.msg-username-box h2{
    font-size: 20px;
    font-weight: 700;
}
.msg-username-box h5{
    margin-top: 8px;
    font-weight: 300;
}
.msg-search p{
    margin-top: 6px;
    font-size: 22px;
    padding-right: 18px;
    cursor: pointer;
}
.msg-all-username-box{
   padding: 20px 0px;
   padding-right: 16px;
   margin-top: 28px;
   overflow-y: auto;
   height: 100%;
}
.msg-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.msg-name h4{
    font-size: 17px;
    font-weight: 700;
}
.msg-name p{
    font-size: 14px;
    font-weight: 500;
    color: #969696;
}
.message-user img{
    width: 60px;
    height:60px;
    border-radius: 50%;
    margin-top: 10px;
    object-fit: cover;
    cursor: pointer;
}
.msg-user-box{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
    cursor: pointer;
}
.msg-users{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.msg-username-active p{
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}
.msg-username-active span{
    font-size: 14px;
    color: #969696;
}
.msg-display{
    display: flex;
}
.handle-user img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 6px;
}
.msg-right-container{
    width: 100%;
    margin-top: 22px;
    display: flex;
    flex-direction: column;
}
.handle-user-msg{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.handle-user{
    padding-bottom: 4px;
}
.handle-user-msg{
    display: flex;
    align-items: center;
    gap: 18px;
}
.handler-user-icon{
    display: flex;
    align-items: center;
    gap: 22px;
}
.handler-user-icon p{
    font-size: 26px;
}
.msgg-icon{
    font-size: 23px;
    border: 1px solid #000;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 6px; */
}
.msgg-icon h1{
    margin-top: 4px;
}
.msg-username-box p{
    padding-right: 14px;
}
.msg-username-box span{
    margin-top: 12px;
    font-weight: 300;
}
.msgg-box-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100vh;
    margin-top: -20px;
}
/* .msgg-others{
    margin-top: 15px;
} */
 .msgg-others{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    /* gap: 8px; */
 }
 .msgg-others h1{
    margin-bottom: 8px;
 }
.msgg-others h3{
    margin-bottom: 8px;
    font-weight: 600;
}
.msgg-others p{
    margin-bottom: 8px;
    color: #969696;
}
.msgg-others button{
    color: #fff;
    background: none;
    border: none;
    outline: none;
    border-radius: 6px;
    background: rgb(51, 188, 212);
    padding:8px 12px;
    width: 100%;
    max-width: 130px;
    margin-top: 8px;
    cursor: pointer;
}
.msg-third-container{
    margin-top: 12px;
    padding: 12px 6px ;
    position: relative;
}
.msg-third-container textarea{
    width: 100%;
    resize: none;
    border: none;
    background: none;
    outline: none;
    padding: 12px 14px;
    border: 1px solid black;
    border-radius: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 115px;
    padding-left: 30px;
    height: 50px;
    font-size: 16px;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent; 
    /* position: relative; */
    
}
.msgg-icons-box{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
    position: absolute;
    top: 22px;
    right: 28px;
}
.msgg-icons-box h3{
    font-size: 28px;
    cursor: pointer;
}
.all-msgs-user{
    width: 100%;
    padding: 0;
}
.modal-msgg-name{
    padding: 10px 0px;
    position: relative;
}
.cut-msg-search{
    position: absolute;
    right: 20px;
    top: 14px;
    font-size: 15px;
}
.modal-msgg-name h3{
    font-weight: 600;
}
.msgg-width-line{
    width: 100%;
    border: 0.5px solid #eeeded;
    color: #eeeded;
    margin-top:5px;
    margin-bottom: 5px;
}
.msgg-search{
    display: flex;
    padding: 4px 16px;
}
.msgg-search h3{
    font-size: 17px;

}
.msgg-search input{
    border: none;
    outline: none;
    padding-left: 12px;
    margin-top: 1px;
    width: 100%;
}
.msgg-username-found{
    overflow-y: auto;
    overflow: hidden;
}
.msgg-username-found {
    height: 300px;
    overflow-y: auto;
    padding: 12px 16px;
    /* margin-top: 10px; */
    /* border: 1px solid #ccc; */
}
.serches-user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.msgg-chat-user{
    padding: 12px 6px;
}
.msgg-chat-user button{
    background:none;
    border: none;
    outline: none;
    padding: 12px 0;
    background: rgb(153, 205, 248);
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
}
.msgg-usersname-find{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.msgg-all-username{
    display: flex;
    gap: 16px;
    margin-top: 4px;
}
.msgg-checkbox input{
    border-radius: 50%;
    font-size: 28px;
}
/* Hide the default checkbox */
.custom-checkbox {
    appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid #ccc;
    border-radius: 50%; 
    outline: none;
    cursor: pointer;
    background-color: white;
    display: inline-block;
    position: relative;
    transition: all 0.2s ease;
}

.custom-checkbox:checked {
    background-color: #252323; 
    border-color: #242222; 
    box-shadow: 0 0 5px #202020;
}

.custom-checkbox:checked::before {
    content: '✔'; 
    color: white; 
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.msgg-user-fullname span{
    /* display: flex; */
    text-align: start;
    display: flex;
    justify-content: flex-start;
}
.btn-msgg-chat.active{
    background-color: rgb(3, 138, 248);
}
/* .msgg-in-user{
   display: flex;
   flex-direction: column;
   gap: 12px;
   margin-top: 22px;
} */
.msgg-in-user img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
/* .type-users{
    margin-right: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
} */
/* .msgg-in-user button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    float: 1;
    border: none;
    outline: none;
    background: none;
    padding: 8px;
    background-color: #ccc9c9;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    max-width: 100px;
    transition: 0.8s ease-in-out;
}
.msgg-in-user button:hover{
    background-color: #b3b0b0;
} */
.msgg-icons-box button{
    border: none;
    outline: none;
    background: none;
    margin-top: 5px;
    font-size: 16px;
    color: rgb(51, 188, 212);
    font-weight: 500;
    cursor: pointer;
}
.msg-page{
    position: relative;
}
.msg-count{
    position: absolute;
    top: 5px;
    left: 26px;
    /* right: 0; */
}
.msg-count p{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: red;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-left: 1px solid #fff;
}
@media(max-width:677px){
    .msgg-box-icon{
        display: none;
    }
    .msg-left-container{
        border: none;
       
   }
   .msg-user-container{
    height: 80vh;
   }
   .msg-user-name{
    margin-top: 40px;
   }
   .msg-username-box{
    margin-left:-16px ;
   }
   .msg-all-username-box{
    margin-left: -15px;
   }
}
/* @media(max-width:677) */