
.home-container{
    position: absolute;
    left: 20%;
    top: 27px;
    width: 70%;
    display: flex;
    align-items: flex-start;
    gap: 142px;
    /* padding-left: 10px; */
    z-index: 0;
    margin: 0 auto;
}
.second-box {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    /* margin-top: 18px; */
  }
  
  .story {
    display: flex; 
    gap: 10px; 
    width: 100%;
    min-width: 577px;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent; 
  }
  .dp-box {
    display: flex;
    flex-direction: column; 
    align-items: center;
    /* width: 100%; */
  }
  .dp{
    width: 70px;
    height: 70px;
    border-radius: 50%; 
    padding: 5px; 
    background: 
    radial-gradient(rgba(0,0,0,0.15) 60%, transparent 0),
    radial-gradient(white 65%, transparent 0),
    linear-gradient(to top right, orange, deeppink);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dp img {
    width: 60px;
    height: 60px;
    border-radius: 50%; 
    object-fit: cover; 
    clip-path: circle(48%);
    overflow: hidden;
  }
  .name {
    margin-top: 5px; 
    font-size: 12px;
    text-align: center;
  }
  .news{
    margin-left: 72px;
    margin-top: 30px;
    width: 100%;
    /* margin: 0 auto; */
  }
  .new-reels-box{
    width: 100%;
    max-width: 510px;
    border-radius: 3px;
    overflow: hidden;
    background: #fff;
  }
  .icon p{
    margin-top: 10px;
  }
  
  .reels {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 630px;
    margin: 0 auto;
  }
/*   
  .new-reels-box {

  } */
  
  .reels-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .img-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: -10px;
  }
  
  .img-box img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 4px;
  }
  .img-box p{
    font-weight: 510;
  }
  .time{
    color: #868686;
  }
  .icon {
    font-size: 18px;
    cursor: pointer;
  }
  .reels-videos {
    position: relative;
    width: 100%;
    height: 530px;
    background: black;
    overflow: hidden;
  }
  .image-slider{
    height: 100%;
    width: 100%;
  }
  .home-pg-img-video{
    height: 100%;
    width: 100%;
  }
  .home-pg-img-video video{
    max-height: 530px;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
  .home-pg-img-video img{
    max-height: 530px;
    width: 100%;
    object-fit: cover;
  }
  .reel-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 4px; */
  }
  .share-comment-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
  }
  .share-comment-icon{
    display: flex;
    align-items: center;
    gap: 22px;
    cursor: pointer;
  }
  .likes{
    margin-top: 5px;
  }
  .likes h4{
    font-weight: 560;
    cursor: pointer;
  }
  .post-name{
    margin-top: 5px;
  }
  .post-name p{
    font-weight: 640;
    cursor: pointer;
  }
  .post-name span{
    font-weight: 490;
  }
  .add-comment{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .add-comment p{
    color: #868686;
    cursor: pointer;
  }
  .add-comment input{
    border: none;
    outline: none;
    background: none;
    font-size: 15px;
    max-width: 430px;
  }
  .add-comment input::placeholder{
    color: #868686;
  }
  .hr{
    margin-top: 20px;
  }
  .profile-logo img{
    width: 44px;
    height: 44px;
    object-fit: cover;
    border-radius: 50%;
  }
  .third-box{
    margin-top: 10px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    width: 300px;
    /* padding-right: 32px; */
  }
  .profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .profile-logo{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 0;
  }
  .username p{
    font-size: 14px;
    font-weight: 500;
  }
  .username h6{
    font-size: 12px;
    font-weight: 400;
    color: #868686;
    margin-left: 1px;
    cursor: pointer;
  }
  .switch button{
     background: none;
     text-decoration: none;
     list-style: none;
     border: none;
     outline: none;
     color: rgb(51, 188, 212);
     font-weight: 500;
     font-size: 13px;
     cursor: pointer;
  }
  .switch button:hover{
    color: #6e6e6e;
 }
 .other-frds-container{
    padding-top: 38px;
 }
 .frds-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .frds-container h5{
    color: #868686;
    font-size: 15px;
    font-weight: 500;
 }
 .frds-container p{
    color: #000;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
 }
 .suggest-profile-container{
    padding-top: 10px;
 }
 .other-logo img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
  }
  .contact-instagram-container{
    padding-top: 30px;
  }
  .contact-instagram{
    width: 235px;
  }
  .contact-instagram a{
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    color: #868686;
    font-size: 12px;
    font-weight: 500;
  }
  .contact-instagram a:hover{
    border-bottom: 1px solid #868686;
  }
  .instagram-copy-right{
    margin-top: 2px;
  }
  .instagram-copy-right p{
    color: #868686;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
  }
  @media(max-width: 1230px){
    .third-box{
      display: none;
    }
    .reels{
      margin-top: -22px;
    }
  }
  @media(max-width:750px){
    .story {
      min-width: 477px;
    }
  }
  @media(max-width:830px){
    .story {
      width:65%;
      margin: 12px auto;
    }
    .home-container{
      top: 80px;
      left: 0;
      width: 100%;
      padding-left: 0;
      display: block;
      align-items: center;
      gap: 0px;
      margin: 0 auto;
  }
  .reels {
    margin: 0 auto;
    width:65%;
  }
  .news{
    margin: 0 auto;
  }
  .reels-container {
    padding: 10px 20px;
  }
  }
  @media(max-width:650px){
    .story {
      min-width:327px;
    }
    .reels {
      width:80%;
    }
  }
  @media(max-width:500px){
    .story {
      max-width:277px;
      overflow-x: auto;
    }
    .reels {
      width:100%;
    }
    .reels-videos {
      height: 410px;
      background: rgb(0, 0, 0);
    }
    .home-pg-img-video video{
      max-height: auto;
      width: 100%;
      object-fit: cover;
      border-radius: 4px;
    }
    .home-pg-img-video img{
      max-height: auto;
      width: 100%;
      object-fit: cover;
      border-radius: 4px;
    }
    .comt-box{
      padding: 0 12px;
    }
    .hr{
      display: none;
    }
    /* .share-comment-box{
       padding: 0 12px;
    } */
  }

